#main {
    display: flex;
    flex-direction: column;
    width: 90%;
    position: absolute;
    left: 10%;            
}
#header {
    height: 15vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#central {
    height: 50vh;
    padding: 5%;
}
#footer {
    height: 15vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#header, #central, #footer {
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
}
#sidebar {
    width: 10%;
    height: 600px;
    position: fixed;
    box-sizing: border-box;
    opacity: 0.5;
    border: 1px solid black;
    box-sizing: border-box;
}
#sidebar a:hover {
    color: blue;
}
#sidebar>a {
    font-family: cursive;
    font-size: 90%;
}